qutebrowser/.config/qutebrowser/autoconfig.yml
i3/.config/i3/config
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
neovim/.config/*
neovim/.config/.*
!neovim/.config/init.vim

tmux/.tmux/plugins
!tmux/.tmux/plugins/tpm
