.config/qutebrowser/autoconfig.yml
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/plugins/__pycache__
.config/ranger/plugins/__init__.py

.domainrrc

.tmux/plugins/*
!.tmux/plugins/tpm

yarn.lock
