! this is to prevent the annoying yellow box when Ctrl-Shift is pressed
urxvt.iso14755 : false
!urxvt.font:	-misc-tamsyn-medium-r-normal--14-101-100-100-c-70-iso8859-1,xft:Deja Vu Sans:pixelsize=14
!urxvt.font: xft:Misc Tamsyn:pixelsize=14,xft:Deja Vu Sans:pixelsize=14
urxvt.font: xft:Misc Tamsyn:pixelsize=14

urxvt.scrollBar: false
urxvt.savelines: 8192
urxvt.internalBorder: 10

urxvt.perl-ext-common:    default,url-select,font-size
urxvt.url-select.launcher:  firefox
urxvt.url-select.underline: true

URxvt.keysym.M-u:         url-select:select_next
urxvt.keysym.C-Down:      font-size:decrease
urxvt.keysym.C-Up:        font-size:increase
urxvt.keysym.C-equal:     font-size:reset
urxvt.keysym.C-question:  font-size:show

*.background: #000000
*.foreground: #ffffff

rofi.color-enabled: true
rofi.color-window: #202020, #202020, #202020
rofi.color-normal: #202020, #fafafa, #202020, #303030, #ffffff
rofi.color-active: #303030, #ffffff, #303030, #303030, #ffffff
rofi.color-urgent: #202020, #ffffff, #202020, #202020, #ffffff

rofi.line-margin: 0
rofi.font: inconsolata 12
rofi.bw: 0
rofi.padding: 1
rofi.separator-style: none
rofi.display-run: Run
rofi.display-drun: Launch
rofi.terminal: sakura

! "Select previous entry" Set from: Default
rofi.kb-row-up:                      Control+k,Up,Control+p,Shift+Tab,Shift+ISO_Left_Tab
! "Select next entry" Set from: Default
rofi.kb-row-down:                    Control+j,Down,Control+n
! "Accept entry" Set from: Default
rofi.kb-accept-entry:                Control+m,Return,KP_Enter
! "Delete till the end of line" Set from: Default
rofi.kb-remove-to-eol:               

#include ".Xcolors/monokai"
